@CHARSET "UTF-8";
/* Headings */
a {
  text-decoration: none;
  color: #3cb5f9; }

a:hover {
  text-decoration: none;
  color: #0793e2; 
  }
    
/**Main BG*/
.map_Area{
	background-image:url('../img/main/indexMain2.jpg');
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	width: 100%;
	height: 50%;
	margin-left: 0px;
}
#imaginary_container{
    margin-top:48%; /* Don't copy this */
}

/**Blog*/
.carousel-inner{
	text-align: center;
}
.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
    border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
	height:45px;
	line-hight:45px;
	font-size: 19px;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}
.media-carousel 
{
  margin-bottom: 0;
  padding: 0 40px 30px 30px;
  margin-top: 60px;
}

/* Previous button  */
.media-carousel .carousel-control.left 
{
  left: -12px;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width : 40px;
  margin-top: 100px;
}
/* Next button  */
.media-carousel .carousel-control.right 
{
  right: -12px !important;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width : 40px;
  margin-top: 100px;
}
.media-carousel img
{
  width: 250px;
  height: 200px
}